
<div class="panel panel-primary">
 <div class="panel-heading">
    <h3 class="panel-title">Create New Group</h3>
  </div>

<div class="panel-body">


<%= form_for @group , method: :post do |f|%>

<% if @group.errors.any? %>
        <div class="alert alert-danger fade in">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <strong>Warning!</strong> 
          <div id="error_explanation">
            <h2><%= pluralize(@group.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
              <% @group.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <% end %>
<div class="form-group">
 <div class="field">
 <%= f.text_field :name,class:"form-control", placeholder:"Group Name..!",style:"width:35%; margin-left:30%;"%><br>
  </div>
  </div>
  <%= %>
   <div class="field">

  <%= f.submit "Submit" ,class:"btn btn-primary", style:"margin-left:43%;"%>
  </div>

  You can add these users to your group 
  <div class="user_list">
  	<%@users= User.where.not(id: current_user.id)%>
	<%@users.each do |user|%>
		<%= user.username%>
		<%= check_box_tag  "user_ids[]", user.id.to_s, false %>
	<% end %>
</div>
<% end %>

</div>
</div>

<!-- <div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    // '_button' is the Id of your submit button
    $("#_add_users").click(function() {            
      // $(this).closest("form").submit();
      // $("#dialog").dialog("close");
      alert("i m working!")
    });
});
</script>
 -->