
<% if @posts.present?%>
<div class="panel panel-primary">
       <div class="panel-heading">
          <h3 class="panel-title">
            <span class="badge" style="margin-left:40%;">
              <h4>  <%= @posts.first.group.name%> </h4>
              <h5>Posts --<%=link_to"Create New Post",  new_group_post_path%></h5></span>
       </div>
       <div class="panel-body">
          <div class="well">
             <ul class="list-group">
              <h2>All Posts</h2>
            <% @posts.each do |post|%>
              <li class="list-group-item" style="margin-top:20px">
                <div class="panel-body">
              <h2>Post title:  <u><%= post.title %></u></h2>
              <i>Content</i>: <%= post.content%>
                  <br>
              <%=image_tag(post.image.url, height:"15%;", width:"15%;")%>
                  <br>
              created by: <%= post.user.username%>
            </div>
            Comments:
              <ul class="list-group">
                <% if post.comments.present?%>
                      <% post.comments.each do |coment|%>
                       <li class="list-group-item">
                         <div style="word-break:break-all;">
                          <%= coment.content%>
                          <br>
                          <span class="badge">Commented By:<%= coment.user.username%></span> 
                          </div>
                       </li>
                      <%end%>
                <%end%>
            
                  <%= @current_user.username%>
                  <%= form_for :comment, :url=> group_post_comments_path(@group.id,post.id) do |f|%>
                  <%= f.text_area :content %><br>
                  <%= f.submit "Submit" %>
                  <%end%> 
              </ul>
             </li>
            <% end %>
            </u>
          </div>
      </div>
<% else %>
<h4>
  No Post Available ..<%=link_to"Create New Post", new_group_post_path%>
</h4>
<%end%>
