<!DOCTYPE html>
<html>
<head>
	<title>GroupPostApp</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to "Group-Post-App", root_path, class: "navbar-brand" %>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<% if current_user %>
					<li>
						<div class="navbar-brand">
							Signed In As : <i><%= link_to "#{current_user.email}",user_path(current_user)%></i>
						</div>
						
					</li>
					<li>
						<%= link_to "Group Post",root_path%>
					</li>
					<li><%=link_to"New Group",new_group_path%></li>
					<% end %>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<% if current_user %>
					<li>
						<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
								<span class="badge">
								</div>
							</li>
							<li>
								<%= link_to "Log Out", logout_path, method: :delete %>
							</li>
							<% else %>
							  <%if params[:action] == 'new' && params[:controller] == 'users'%>
							  <li><%= link_to "Log In" , login_path%></li>
							  <%else%>
							  <li><%= link_to "Sign Up" ,new_user_path%></li>
							  <%end%>

							
							<% end %>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
			<div class="container">
				<div class="error-flash"><%= notice%></div>
				<%= yield %>

			</div>
		</body>
		</html>
