<!DOCTYPE html>
<html>
<head>
	<title>GroupPostApp</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
				</button>

      <a class="navbar-brand" href="/">Group-Post-App</a>
				
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
				<ul class="nav navbar-nav">
					<% if @current_user %>
					<li>
						<div class="navbar-brand">
							Signed In As : <i><%= link_to "#{@current_user.username}",user_path(@current_user)%></i>
						</div>
					</li>
					<li>

                       <li class="active"><a href="/"> Home <span class="sr-only">(current)</span></a></li>
                        <li><a href="/groups/new"> New Group </a></li>
					</li>
					<li><%=link_to"Profile",user_path(@current_user)%></li>
					<% end %>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<% if @current_user %>
					<li>
						<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
								<span class="badge">
									(
									<%a=0%>
									<%group_invitations = @current_user.group_invitations%>
									<% a = group_invitations.count%>
									<%=a%> )</span>: New Group Request
									<span class="caret"></span></button>
									<ul class="dropdown-menu">
										<%= p "No Request " if group_invitations.size == 0%>
										<% group_invitations.each do |resqt|%>
										<li> <%=link_to"#{resqt.group.name} "%>
											<%=link_to"Accept",accept_invitation_path(resqt)%>
											(<%=l resqt.created_at%>)
										</li>
										<%end%>
									</ul>
								</div>
								<li>
									<%= link_to "Log Out", logout_path, method: :delete %>
								</li>
					<% else %>
						 <%if params[:action] == 'new' && params[:controller] == 'users'%>
								<li><%= link_to "Log In" , login_path%></li>
						 <%else%>
								<li><%= link_to "Sign Up" ,new_user_path%></li>
						 <%end%>
					<% end %>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
				<div class="container">
					<div class="error-flash"><%= notice%></div>
					<%= yield %>
				</div>
			</body>
			</html>
